POSTGRES_USER=your_name
POSTGRES_PASSWORD=your_password
POSTGRES_DB=database_name
POSTGRES_HOST=host

SECRET_KEY=...
ALGORITHM=HS256

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

UPLOAD_DIR=your_directory
